:root {
 background: url("backgroundLogo.png") no-repeat bottom right;
 background: url("backgroundLogo.png") no-repeat 95%  95%, #c8c8c8 url("background.gif") ;
}

body{
 margin: 0;
 font-family: Helvetica;
 padding-left:5px;
 padding-right:5px;
 padding-top:5px;
 color:black;
 width : auto;
 overflow-x: hidden;
 -webkit-user-select: none;
 -webkit-text-size-adjust: none;
}

h2 {
 font-weight: normal;
 text-align: center;
 padding: 3px 0 3px 0;
 box-sizing: border-box;
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 border-bottom: 1px solid #2d3642;
 border-top: 1px solid #6d84a2;
 background: url(toolbar.png) #6d84a2 repeat-x;
}

h2 a {
 text-decoration: none;
 color : white;
 text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
 
}

fieldset {
 margin: 3px 0 10px 0;
 padding: 5px 5px 5px 5px; 
 background-color: white;
 background-color: rgba(255,255,255,0.6);
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 border: 1px solid transparent;
}

fieldset legend {
 color:white;
 width:90%;
 left:5%;
 font-weight: bold;
 font-family: Sans-serif;
 font-size: x-large;
 text-align: center;
 text-shadow: rgba(0, 0, 0, 0.9) 0px -1px 0; 
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 margin-left:7px;
 padding-left: 7px;
 padding-right: 7px;
 border: 1px solid transparent;
 border-top: 1px solid #7d7d7d;
 border-bottom: 1px solid #999999;
 opacity:0.8;
 /*background: url(listGroup.png) repeat-x;*/
}

fieldset legend:not(.pageColor){
 background: url(listGroup.png) repeat-x;
}

 ul{
     padding: 0;
     margin:0;
 }
 
 ul > li:first-child {
    border-top: none;
 }
 
 ul > li {
    position: relative;
    margin: 0;
    border-top: 1px solid #E0E0E0;
    padding: 8px 0 8px 10px;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
}

 ul > li > a, ul > li > .list {
    display: block;
    margin: -8px 0 -8px -10px;
    padding: 8px 32px 8px 10px;
    text-decoration: none;
    color: inherit;
}
ul > li > a {
    background: url(listArrow.png) no-repeat right center;
}

input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    margin: 8px 0 0 0;
    padding: 6px 6px 6px 44px;
    font-size: 16px;
    font-weight: normal;
}

#fil{
  background-color: rgba(200,200,200,0.3);
  
}

#fil *{
  color: rgb(120,120,120);
  margin-right: 5px;
  text-shadow: rgba(255, 255, 255, 0.6) 0px -1px 0;
  text-decoration: none;
}
#fil a::before{
  color: black;
  margin-left: 5px;
  margin-right: 3px;
  content:"\203A";
}

#new-comment {
 display:none;
}

#new-comment textarea {
 width: 100%;
}

#new-comment:target {
 display: block;
}
