###
### Access denied message
###
###
#template("startpage.vm")
<div class="main layoutsubsection">
#if ($xwiki.isReadOnly())
  <div id="centeredmedium">
    #roundedmediumtitletop($msg.get("error"))
      <p class="xwikimessage">$msg.get("readonly")</p>
#else
<div class="centered">
    #roundedmediumtitletop($msg.get("error"))
      <p class="xwikimessage">$msg.get("notallowed")</p>
#end
$!exception
#xwikimessageboxend()
<div class="clearfloats"></div>
</div>
#template("endpage.vm")
