#if($context.getMode()==0)## Visible only in a page
<div id="footerglobal" class="layoutsection">
<div id="powered"><a href="http://www.avane.com" target="_blank"><img src="$xwiki.getSkinFile("poweredbyavane.gif")" /></a></div>
<div class="minwidth"></div>
  <div id="xwikidocinfo">
<div class="minwidth"></div>
$msg.get("version") $xwiki.version
##if ($tdoc)$msg.get("version") $tdoc.version $msg.get("lastmodifiedby") $xwiki.getLocalUserName($tdoc.author) $msg.get("lastmodifiedon") $!xwiki.formatDate($tdoc.date, "dd/MM/yyyy") $msg.get("at") $!xwiki.formatDate($tdoc.date, "HH:mm") #end</div>
</div>
<div id="loading" style="z-index:9999;position:absolute;background: url(/xwiki/skins/chronopolys/bg40.png); width:0px; height:0px;"><div id="loading-animation" style="background: url(/xwiki/skins/chronopolys/ajax-loader-ball.gif) center no-repeat; position:relative; width:100%; height:100%;"></div></div>
#end
