#template("xwikivars.vm")
#template("layoutvars.vm")
#set($showLeftPanels = "0")
#set($showRightPanels = "0")
#set($printss = true)
#template("htmlheader.vm")
<div id="printheader" class="layoutsection">
  <div id="companylogo">
    <a href="$xwiki.getURL("Main.WebHome", "view")" title="Home">
#set($logo = $!prefdoc.getAttachment("logo"))
#if(!$logo)
#set($logourl = $xwiki.getSkinFile("logo.png"))
      <img src="$logourl" alt="XWiki logo" style="width:215px;height:74px;"/>
#else
#set($logourl = $prefdoc.getAttachmentURL($logo.filename, "download"))
      <img src="$logourl" alt="XWiki logo"/>
#end
    </a>
  </div>
</div>
<div id="printcontainer" style="overflow: visible; border: none; padding: 10px; text-align: justify; float: none !important;">
<div></div>
#template("contentview.vm")
<div class="clearfloats"></div>
</div>## printcontainer
<div id="footerglobal" class="layoutsection">
<div id="powered"><a href="http://www.avane.com" target="_blank"><img src="$xwiki.getSkinFile("poweredbyavane.gif")" /></a></div>
</div>
#template("htmlfooter.vm")