<div id="project_header" style="background-color:$currentStyle;">
	<span class="project_name"><a href="$xwiki.getURL("${doc.web}.WebHome")">$project.get("name")</a></span>
	#if ($project.isWikiPage($doc.name) || $doc.getObject("ChronoClasses.ProjectArticleClass"))
		#if($context.action != "edit")
			#if ($project.isWikiPage($doc.name))
				#set ($editurl=$doc.getURL("edit"))
				#set ($editmsg=$msg.get("editwikipage"))
			#else
				#set ($editurl=$doc.getURL("inline"))
				#if ($doc.type == "post")
					#set ($editmsg=$msg.get("editpost"))
				#elseif ($doc.type == "task")
					#set ($editmsg=$msg.get("edittask"))
				#elseif ($doc.type == "meeting")
					#set ($editmsg=$msg.get("editmeeting"))
				#end
			#end
		#end
	#end
	<span id="project_bar_actions">
		#if (($doc.name !=  "WebHome") || ($context.action != "view"))
			<a id="backtoproject" href="$xwiki.getURL("${doc.web}.WebHome")">$msg.get("backtoproject")</a>
		#else
			#if ($isChronoAdmin || $xwiki.hasAccessLevel("delete"))
				<a id="deleteproject" href="$doc.getURL('view', 'do=delete')">$msg.get("deleteproject")</a>
			#end
		#end
		##if ($context.action != "view")
		##	| <a id="backtoproject" href="$xwiki.getURL("${doc.web}.${doc.name}", "view")">$msg.get("backtoview")</a>
		##end
	</span>
</div>
#if($doc.name == "WebHome")
 <div id="container_breadcrumb" class="container_breadcrumb">
  <span id="breadcrumb_axis">$msg.get($currentAxis.display("name", "view"))</span> > <span id="breadcrumb_yard">$msg.get($currentYard.display("name", "view"))</span> > <span id="breadcrumb_activ">$msg.get($currentActivity.display("name", "view"))</span>
  <span id="breadcrumb_action" onclick="toggleClass($('container_breadcrumb'), 'hidden'); toggleClass($('sel_container_breadcrumb'), 'hidden');" class="sel_edit"> ($msg.get("edit").toLowerCase())</span>
 </div>
 <div id="sel_container_breadcrumb" class="container_breadcrumb hidden">
  #set($proj = $doc.getObject("ChronoClasses.ProjectClass"))
  $proj.display("container", "editnopre")
 </div>
#else
 <div class="container_breadcrumb">
  <span id="breadcrumb_axis">$msg.get($currentAxis.display("name", "view"))</span> > <span id="breadcrumb_yard">$msg.get($currentYard.display("name", "view"))</span> > <span id="breadcrumb_activ">$msg.get($currentActivity.display("name", "view"))</span>
 </div>
#end